@model ICollection<Settings>

@{
    int count = 0;
}

<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Settings Table</h4>
                <a class="btn btn-primary" asp-action="Create" asp-controller="Settings">Create</a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.Key</td>
                                <td>@item.Value</td>
                                <td>
                                    <a asp-action="Update" asp-controller="Settings" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
                                    <a asp-action="Delete" asp-controller="Settings" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>